{% extends 'base.html' %}

{% block content %}

<div>
    {% if prof.photo %}
        <span class="show_post_photo">
            <img src="{{ prof.photo.url }}" style="width: 300px; border-radius: 10px;">
        </span>
    {% endif %}

    <a href="#">редактировать</a>
    <hr>
</div>

<div>
    <h1>Избраннное</h1>
    <form action="{% url 'profile_user:profile' prof_slug=user.slug %}" method="get">
        {% for i in prof.favorites.all %}
        <ul class="scroll_box">
            <input type="checkbox" name="fovorites" value="{{ i.title }}">

            <li class="image_resize"><img src="{{ i.photo.url }}" style="width: 320px; height: 400px; border-radius: 10px 10px 0 0;"></li>
            <div class="box_text">
                    <li><b>{{ i.title }}</b></li><br>
                    <li >{{ i.content|truncatewords:15 }}</li><br>
            </div>
            <a href="{{ i.get_absolute_url }}" class="full_button">Читать</a>
        </ul>
        {% endfor %}
        <button type="submit">Удалить</button>

        <h1>Читаю</h1>
        {% for i in prof.read.all %}
        <ul class="scroll_box">
            <li class="image_resize"><img src="{{ i.photo.url }}" style="width: 350px; height: 400px; border-radius: 10px 10px 0 0;"></li>
            <div class="box_text">
                    <li><b>{{ i.title }}</b></li><br>
                    <li >{{ i.content|truncatewords:15 }}</li><br>
            </div>
            <a href="{{ i.get_absolute_url }}" class="full_button">Читать</a>
        </ul>
        {% endfor %}
    </form>
</div>

{% endblock %}