{% extends 'base.html' %}
{% load webmanga_tags %}

{% block content %}
{% cats as cats %}

{% for i in cats %}
    <h1>{{i.name}}</h1>
    
    <div class="scroll_container">

    {% for p in posts %}
        {% if i in p.cat.all %}
            <ul class="scroll_box">
                <li class="image_resize"><img src="{{ p.photo.url }}" style="width: 350px; height: 400px; border-radius: 10px 10px 0 0;"></li>
                <div class="box_text">
                        <li><b>{{ p.title }}</b></li><br>
                        <li >{{ p.content|truncatewords:15 }}</li><br>
                </div>
                <a href="{{ p.get_absolute_url }}" class="full_button">Читать</a>
            </ul>
        {% endif %}
    {% endfor %}
    </div>

{% endfor %}
{% endblock %}