{% extends 'base.html' %}
{% load webmanga_tags %}

{% block content %}

<div class="read_post">
{% if post.photo %}
    <span class="show_post_photo">
        <img src="{{ post.photo.url }}" style="width: 300px; border-radius: 10px;">
    </span>
{% endif %}

    <h1>{{title}}</h1>
    <p class="content_article">{{post.content}}</p>
    <hr>

    <div class="about_the_article">
        <p>Категория:</p>
        {% for i in post.cat.all %}
        <p>{{ i }}</p>
        {% endfor %}
        <p>Добавлено: {{ post.time_create }}</p>
        <p>{{ post.pk }}</p>

    </div>
</div>

<div class="manga_chapter">
{% for manga in post.manga.all %}
    {% if not request.user.is_authenticated %}
        {% if forloop.counter < 3 %}
            <label for="{{ manga.description }}" class="label_box">Глава {{ forloop.counter }}</label><br>
            <input type="checkbox" id="{{ manga.description }}"  class="info-toggle">
            <div class="image_chapter">
                <img src="{{ manga.image.url }}">
            </div>
            <br>
        {% else %}
            <label for="{{ manga.description }}" class="label_box">Глава {{ forloop.counter }}</label><br>
            <input type="checkbox" id="{{ manga.description }}"  class="info-toggle">
            <p class="image_chapter"><a href="{% url 'login' %}">Для дальнейшего чтения необходимо авторизоваться</a></p>
            <br>
        {% endif %}
    {% else %}
        <label for="{{ manga.description }}" class="label_box">Глава {{ forloop.counter }}</label><br>
        <input type="checkbox" id="{{ manga.description }}"  class="info-toggle">
        <div class="image_chapter">
            <img src="{{ manga.image.url }}">
        </div>
        <br>
    {% endif %}
{% endfor %}
</div>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {% for f in form %}
    {{ f }}
    {% endfor %}
    <button type="submit" class="to_send_bt">Отправить</button>
</form>


{% endblock content%}