{% extends 'WebManga/base.html' %}
{% load webmanga_tags %}


{% block content %}
{% message as mess %}

<a class="button_down" href="#footer">В конец чата</a>

{% for i in mess %}
{% if i.sender|safe == user.username|safe %}
    <p class="mess_block_right"><span class="chat_user">{{ i.sender }}</span> <br> <span class="chat_message">{{ i.message }}</span></p>
{% elif i.sender|safe != user.username|safe %}
    <p class="mess_block"><span class="chat_user">{{ i.sender }}</span> <br> <span class="chat_message">{{ i.message }}</span></p>
{% endif %}

{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    {% for f in form %}
    {{ f }}
    {% endfor %}
    <button type="submit" class="to_send_bt">Отправить</button>
</form>

{% endblock %}